<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Mors Principium Est</h1>
  <p>
    A banda foi formada em 1999 em Pori , na Finlândia , pelo cantor / guitarrista Jori Haukio, guitarrista Jarkko Kokko
    e tecladista Toni Nummelin. O baterista Mikko Sipola entrou no final de 1999, logo seguido pela chegada do novo
    vocalista Ville Viljanen no início de 2000, quando Haukio decidiu se concentrar em seu trabalho de guitarra. O
    baixista Teemu Heinola não foi indicado até depois da primeira demo da banda, Before Birth , que atraiu a atenção da
    gravadora francesa Listenable Records em 2001.
  </p>
  <ion-title>
    Veja algumas fotos
  </ion-title>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <img src="https://www.spirit-of-metal.com/les%20goupes/M/Mors%20Principium%20Est/pics/09d3_2.jpg" />
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img
          src="https://img.discogs.com/JcqQzoqLIGcMCM1SLx0_T8tAhyQ=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-581487-1167645875.jpeg.jpg" />
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://i.ytimg.com/vi/ELYNEng5hhQ/0.jpg" />
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>